// FOOTER STYLES

footer.site-footer {
    text-align: center;
    font-family: $open-sans-condensed;
    font-size: rem(15px);
    text-transform: uppercase;
    background: $gray-bg;
    color: #ffffff;

  // 
  // social links menu 
  // set in menu admin panel
  // 
  .social-navigation {
    margin: 0 auto;
    padding-top: rem(35px);

    ul {
      margin: 0;
      display: inline-block;
    }

    li {
      border-radius: 50%;
      background: $red;
      &:hover,
        &:hover::before,
        &:focus::before {
          background: none;
        }
    }
    li a {
        border: 0;
        border-radius: 0;
        color: white;

        &:hover,
        &:hover::before,
        &:focus::before {
          color: white;
        }
      }  // end footer a
  } // end .social nav
} //end footer styles