.site-header-main {
  background: $gray-bg;
  min-height: 100px;
}

.custom-logo {
  position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

//mobile nav only
.menu-toggle {
  box-sizing: border-box;
  color: white;
  margin: 30px 10px;
  &:hover, &:focus {
    color: $red;
    border-color: white;
    background: rgba(255, 255, 255, .75);
  }
}

.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus {
    color: $red;
    background: $gray-bg;
    border-color: $red;
  }

  .dropdown-toggle {
    color: white;
    &:hover, &:focus, &:active {
      color: $red;
    }}

#site-header-menu {
  //background: $gray-bg;
  margin: 0;
  //height: rem(104px);
  @media screen and (min-width: 44.375em) {
      width: 100%;
    }

  .main-navigation {
    font-family: $open-sans-condensed;
    font-size: rem(15px);
    //margin: 0;
  }

  ul#menu-main-menu {
    width: 100%;

    @media screen and (min-width: 44.375em) {
      width: rem(910px);
      margin: 0 auto;
    }
  }

  a, a:hover {
    color: white;
    text-transform: uppercase;
    font-size: rem(15px);
    text-align: center;
    margin: auto 10px;
    padding-right: 0;

    &:after {
      // normalize
      content: "";
      position: relative;
      top: 0;
    }
  }

  // Home link - replace text with the logo.
  li#menu-item-27 {
     a {
       @include hide-text;
     }
  }

  .sub-menu {
    margin: 0;
    background: rgba(255, 255, 255, .75);
    a, a:hover {
      color: $gray-bg;
    }
    .current-menu-item {
      a, a:hover {
        color: $red;
      }
    }
    a:hover {
      color: $red;
    }

    li {
      text-align: center;
      border: none;
      //background: rgba(255, 255, 255, .75);
    }

  }
}

.main-navigation ul ul:before, .main-navigation ul ul:after {
  border-style: none;
}