body {
  background: white;
}
.site-content {
  padding: 0;
}
.site-inner {
  max-width: 1800px;
}
.no-sidebar .post-thumbnail img {
  margin: 0;
  width: 100%;
}
.site-main {
  margin-bottom: rem(35px);
}

%interior-narrower {
  max-width: rem(840px);
  padding: 0 rem(20px);
  margin: 0 auto;
}

.entry-header h1 {
  text-transform: uppercase;
  font-family: $open-sans;
  font-weight: bold;
  color: $red;
  margin: rem(75px) 0 rem(70px);
}
.entry-content {
  p {
    font-family: $source-serif;
    font-size: rem(15px);
    line-height: rem(32px);
    color: $gray-text;
  }
  blockquote, blockquote p {
    color: $red;
    font-family: $roboto-slab;
    font-weight: bold;
    font-size: rem(20px);
  }
}

.page-template-default {
  &.has-featured-image .entry-header h1 {
    position: absolute;
    top: rem(150px);
    max-width: 420px;
    color: white;
    font-size: rem(95px);
    line-height: rem(95px);
  }
}

/* Spirits pages */
.page-template-page-spirits {
  .entry-header h1 {
    color: $gold;
  }
  #primary.spirits {
    @extend %interior-narrower;
    margin: 0 auto;
    .entry-header, .entry-content, .entry-footer {
      margin: 0;
    }
  }
}

/* Team page */
.page-id-10 {

  article {
    .entry-header, .entry-content, .entry-footer {
      margin: 0;
    }
    @extend %interior-narrower;
  }
  img {
    width: 365px;
  }
  h2, h3 {
    color: $red;
    font-size: rem(18px);
  }
  h2 {
    font-family: $roboto-slab;
    margin: rem(40px) 0 rem(12px);
  }
  h3 {
    font-style: italic;
    font-weight: normal;
    margin: 0 0 rem(35px) 0;
  }
  .entry-content div p {
    margin: 0;
  }
  .post-edit-link {
    display: none;
  }
}

footer.site-footer {
  p.copyright {
    width: 100%;
    text-align: center;
    order: 2;
    font-family: $open-sans-condensed;
    font-size: rem(15px);
    text-transform: uppercase;
  }
  .social-navigation {
    margin: 0 auto rem(20px);
    padding-top: rem(35px);
    width: 70%;
    border-top: 1px solid #9d9ea0;
    .menu-social-links-footer-container {
      text-align: center;
    }
    ul {
      margin: 0;
      display: inline-block;
    }
    li {
      border-radius: 50%;
      background: $red;
      text-align: center;
      a {
        border: none;
        border-radius: 0;
        color: white;

        &:hover,
        &:hover:before,
        &:focus:before {
          color: white;
        }

        &[href*="vine.co"]:before {
          font-family: FontAwesome;
          content: "\f1ca";
        }

      }
    }
  }
}