// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: $size / 16px;
  // Default font size on html element is 100%, equivalent to rem(16px);
  @return #{$remSize}rem;
}

// // =============================================================================
// // Variables
// // =============================================================================

// //
// // Font faces, stacks and sizes.
// //

$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$font-primary: 'Hind', sans-serif;
// $source-serif: 'Source Serif Pro', serif;

$base-font-size: 16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

//
// Colors
//
$red: #d14f53;
$gold: #f4c416;
$purple: #812b5d;
$gray-bg: #3c3c42;
$gray-text: #3b3b41;

//
// Breakpoints
//
$width-desktop: 56.875em;

//============================
// INCLUDES and EXTENDS
//============================
%interior-narrower {
  max-width: 75em;
  padding: 0 5%;
  margin: 0 auto;
}

// callouts primarily in main content for tour sign up
%callout-link {
  color: $gold; // make sign up now or similar callout links gold. leave other in content links purple
  font-size: 1.25rem;
}

//============================
// TYPOGRAPHY
//============================
body {
  font-family: $font-primary;
  font-weight: 400;
  color: $gray-text;
}

h1,
h1.entry-title,
.page-title,
.entry-title,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  color: $red;
  // margin: 1em auto .5em;
}

h1,
h1.entry-title,
h2.entry-title,
h4 {
  text-transform: uppercase;
}

h1,
h1.entry-title,
h2.entry-title {
  margin-bottom: 2rem;
}

h1.page-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
h2.entry-title {
  font-size: 1.5rem;
}
h2.entry-title a {
  color: $red;
  &:hover,
  &:focus {
    color: $gold;
  }
}

a {
  color: $purple;
}

//============================
// GENERAL COMPONENTS
//============================
.btn {
  display: inline-block;
  min-width: 8em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1em;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: $gold;
  background: white;
  border-radius: 0.25em;
  border: 0.1em solid $gold;

  &:hover,
  &:focus,
  &:active {
    background: $gold;
  }
}
.entry-content a.btn,
.entry-summary a.btn,
.taxonomy-description a.btn,
.logged-in-as a.btn,
.comment-content a.btn,
.pingback .comment-body > a.btn,
.textwidget a.btn,
.entry-footer a.btn:hover,
.site-info a.btn:hover {
  box-shadow: none;
}

//
// // ditch the sidebar by default
//
body .content-area,
body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content,
.no-sidebar .entry-header,
.no-sidebar .entry-content,
.no-sidebar .entry-summary,
.no-sidebar .entry-footer,
.no-sidebar .comments-area,
.no-sidebar .image-navigation,
.no-sidebar .post-navigation,
.no-sidebar .pagination,
.no-sidebar .page-header,
.no-sidebar .page-content,
.no-sidebar .content-bottom-widgets,
body.no-sidebar:not(.search-results) article:not(.type-page) .entry-footer,
body:not(.search-results) article:not(.type-page) .entry-footer {
  margin: 0 auto;
  float: none;
  width: unset;
}
