// @file
// Custom sass classes
//
// Define the custom classes for your project here.

// Clearfix
// Clears all floats

%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}