// style for archive pages including for custom post types
// and single post pages

//
// TYPOGRAPHY
//
.archive,
.single {
	.entry-title > a {
		box-shadow: none;
		// font-family: $open-sans-condensed;
	}
	p:not(:last-child) {
		margin-bottom: 0.5rem;
	}
} // end .archive and .single typography

//
// General Post/Archive styles
//
.archive,
.single {
	.site-main {
		@extend %interior-narrower;
	}
	.entry-content {
		padding-top: 2rem;
	}
	article {
		margin-bottom: 6rem;
	}
} // end General Post/Archive styles

//
//  To make the spirit parent page act like archive pages
//
.page-id-75 {
	.page-list-ext {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: stretch;
	}
	.page-list-ext .page-list-ext-item {
		margin: 0;
		margin-bottom: 6rem;

		@media screen and (min-width: $width-desktop) {
			max-width: 50%;
			flex: 1 1 45%;
			margin-right: 1rem;
			margin-left: 1rem;
		}
	}
	.page-list-ext .page-list-ext-image {
		float: none;
		margin: 0;
	}
	.page-list-ext-title {
		margin: 1rem 0;
		@media screen and (min-width: $width-desktop) {
			text-align: center;
		}
	}
	.page-list-ext-title > a {
		box-shadow: none;
		// font-family: $open-sans-condensed;
		color: $red;
		font-size: 1.5em;
		text-transform: uppercase;
	}
} // spirit parent page .page-id-75

//
// Team
//
// Team single AND archive
.post-type-archive-team {
	.article-box {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: stretch;
	}
	article {
		@media screen and (min-width: $width-desktop) {
			max-width: 50%;
			flex: 1 1 45%;
			margin-right: 1rem;
			margin-left: 1rem;
		}
	}
	h2.entry-title {
		margin-bottom: 0;
	}
	h3.team-title {
		font-weight: 400;
		margin: 1rem 0;
		text-transform: uppercase;
	}
}
// team single
.single-team {
	h3.team-title {
		margin-top: 0;
	}
}

//
// Recipe
//
// Recipe single AND archive
.recipes {
	p {
		line-height: 1.25em;
	}
	.recipe-ingredients p {
		font-weight: 700;
	}
}

// Recipe archive
.archive.tax-recipe_spirit,
.post-type-archive-recipes {
	.article-box {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: stretch;
	}
	// article is the 'card'
	article.recipes {
		width: 100%;
		background-color: #ffffff;
		border-radius: 1em;
		overflow: hidden;
		margin-bottom: 2rem;
		padding-bottom: 1rem;

		@media screen and (min-width: $width-desktop) {
			max-width: 50%;
			flex: 1 1 45%;
			margin-right: 1rem;
			margin-left: 1rem;
		}
		.post-thumbnail {
			padding: 0;
		}
		.post-thumbnail img {
			width: 100%;
		}
	} // end recipe styles

	// recipe-spirit category styles
	&.term-m-vodka {
		h1.page-title {
			color: #d1308a; // Vodka
		}
	}
	&.term-m-gin {
		h1.page-title {
			color: #73db49; // Gin
		}
	}
	&.term-m-rum {
		h1.page-title {
			color: #00b5dd; // Rum
		}
	}
	&.term-m-whiskey {
		h1.page-title {
			color: #ff4d63; // Whiskey
		}
	}
	&.term-mammas-moonshine {
		h1.page-title {
			color: #262362; // Moonshine
		}
	}
}
// end .archive
