/* col-left and col-right can be set
   in a post body using the WYSIWYG */
@media screen and (min-width: $width-desktop) {
	.entry-content .col-left,
	.entry-content .col-right {
    width: 45%;
    float: left;
	}
	.entry-content .col-left {
    margin-right: 60px;
	}
}
