/* Styles specific to SPIRITS individual and archive pages */

.page-template-page-spirits {

	article {
		@media screen and (min-width: $width-desktop) {
			display: grid;
			grid: auto / 1fr 40% 40% 1fr;
			grid-gap: 2%;
			justify-items: center;
			align-items: stretch;
			justify-content: stretch;
			align-content: stretch;
		}
	}

	.entry-header {
		@media screen and (min-width: $width-desktop) {
			padding: 0;
			grid-column: 2 / 3;
			justify-self: stretch;
			align-self: stretch;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
	.entry-content	 {
		max-width: 50em;
		margin: inherit auto;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $width-desktop) {
			padding: 0;
			grid-column: 3 / 4;
			justify-content: space-between;
		}
	}
	.entry-footer {
		@media screen and (min-width: $width-desktop) {
			grid-column: 2 / 4;
			margin-left: 0;
		}
	}

	h1.entry-title {
		text-align: center;
		@media screen and (min-width: $width-desktop) {
			text-align: left;
			margin-left: 0;
		}
	}
// let's deal with that double title
	.entry-header h1.entry-title {
		@media screen and (min-width: $width-desktop) {
			display: none;
		}
	}
	.entry-content h1.entry-title {
		display: none;
		@media screen and (min-width: $width-desktop) {
			display: block;
		}
	}

	.post-thumbnail img {
		@media screen and (min-width: $width-desktop) {
			object-fit: fill;
		}
	}

	a.btn {
		margin-top: 0;
		align-self: flex-end;
	}

// typography
	.proof > p {
		font-family: $open-sans-condensed;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}


// spirits nav styles
	.spirits-nav {
		margin: 1em 0; // to match parent theme .entry-footer top margin
		font-family: $open-sans-condensed;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: 1.25em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}
		.spirits-nav a {
			color: $gold;
			&:hover,
			&:focus {
				color: $purple;
			}
		}
		// end spirits nav styles
	

// Every spirit is a special flower with its own header color.
// Fallback is the standard TSD red.

	&.page-id-57 {
		h1.entry-title,
	  .proof p {
	    color: #d1308a; // Vodka
	  }
	}
	&.page-id-82 {
	  h1.entry-title,
	  .proof p {
	    color: #73db49; // Gin
	  }
	}
	&.page-id-84 {
		h1.entry-title,
	  .proof p {
	    color: #00b5dd; // Rum
	  }
	}
	&.page-id-86 {
	  h1.entry-title,
	  .proof p {
	    color: #ff4d63; // Whiskey
	  }
	}
	&.page-id-88 {
		h1.entry-title,
	  .proof p {
	    color: #262362; // Moonshine
	  }
	}
} //end .page-template-page-spirits